name: Publish snapshots

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}
    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - run: mvn -B install --no-transfer-progress --file pom.xml

  publish-maven-snapshot:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Get version
      run: echo project_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV
    - name: Append "-SNAPSHOT" to projects version
      run: mvn versions:set "-DnewVersion=${{ env.project_version }}-SNAPSHOT"

    - name: Publish to GitHub Packages Apache Maven
      run: mvn -B --no-transfer-progress deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}

  publish-npm-snapshot:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: 'adopt'
        server-id: github
        settings-path: ${{ github.workspace }}
    - uses: actions/setup-node@v4
      with:
        node-version: 14
        registry-url: https://npm.pkg.github.com

    - name: Get version
      run: echo project_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV
    - name: Get short commit hash
      run: echo commit=$(git rev-parse --short HEAD) >> $GITHUB_ENV
    - name: Append commit hash to projects version
      run: mvn versions:set "-DnewVersion=${{ env.project_version }}-${{ env.commit }}"
    
    - name: Build with Maven
      run: mvn -B --no-transfer-progress package --file pom.xml
    
    - name: Install dependencies
      working-directory: ./target/generated-sources/openapi/axios
      run: npm install
    - name: Publish npm package
      working-directory: ./target/generated-sources/openapi/axios
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
